* {
    margin: 0;
    /* background-color: black; */
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
    font-size: 10px;
}

:root {
    --orange: #FF4D45;
    --blue: #2E4786;
}

.logo {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12px;
    left: 10vw;

}

.wrapper {
    overflow-x: hidden;
}


.doob {
    font-size: 2rem;
    font-weight: bolder;
    color: #2E4786;
}

.underline {
    background-color: #FF4D45;
    width: 60%;
    height: 4px;
}

.underline-c {
    display: flex;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;
    width: 70%;
    /* height: 1080px; */
    background-color: fff;
    margin-left: 20%;
    margin-right: 20%;
    flex-wrap: wrap;
    /* background-image: url(./12_col_grid.png);
    width: 1100px;
    height: 4400px;
    z-index: -1; */
}

button {
    cursor: pointer;
}

header {
    width: 100%;
    z-index: 50;
}

.nav {
    /* background-color: bisque; */
    width: 100%;
    height: 80px;
    display: flex;
    /* margin-top: 3%; */
    justify-content: space-between;
    z-index: 50;

}

.nav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.9rem;
    font-weight: bolder;
    color: var(--blue);
}

.nav-right {
    float: right
}

.nav-right button {
    margin-top: 6px;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 5px;
    /* height: 35px; */
    font-size: 2rem;
    padding: 10px;
    font-weight: bolder;
}

.nav-right button a {
    padding: 0;
    margin: 0;
    color: #FF4D45;

}

.na-right button i {
    color: red;
}

.first {
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 20%;
}

.first-img {
    height: 550px;
    margin-top: -10%;
    right: -15%;
    position: absolute;
    width: 500px;
}

.first-img img {
    width: 100%;
    height: 100%;
}

.bg-shape-3 {
    position: absolute;
    right: -33%;
    top: -150%;
    z-index: -1;
}

.aa {
    width: 60%;
    /* height: 200px; */
    /* background-color: blue; */

}

.aa-1 {
    font-size: 4rem;
    color: var(--blue);
}

.aa-1 h1 {
    font-size: 4rem;
}

.aa-2 {
    font-size: 3rem;
    color: grey;
    margin-top: 30px;
}

.aa-3 {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.aa-3 button {
    font-size: 2rem;
    height: 35px;
    width: 200px;
    color: white;
    padding: 2px;
    background-color: var(--orange);
    border: 1px solid var(--orange);
    border-radius: 20px;
}

.aa-3-2 {
    margin-left: 20px;
    color: var(--blue);
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.second {
    width: 100%;
    position: relative;
}

.bg-shape-2 {
    left: -33%;
    position: absolute;
    top: 40%;
    /* margin-left: -76px; */

}

.bb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 35%;
    justify-content: space-around;

}

.bb-1 {
    width: 30%;
    /* height: 200px; */
    /* background-color: blue; */

}

.bb-1-1 {
    font-size: 3rem;
    color: var(--blue);

}

.bb-1-1 h1 {
    font-size: 5rem;
}

.bb-1-2 button {
    font-size: 2rem;
    margin-top: 30px;
    height: 35px;
    width: 200px;
    color: white;
    padding: 2px;
    background-color: var(--orange);
    border: 1px solid var(--orange);
    border-radius: 20px;


}

.bb-2 {
    width: 18%;
    height: 250px;
    /* background-color: yellow; */
    border: 1px solid white;
    box-shadow: 0px 0px 10px 5px rgb(216, 212, 212);
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.bb-2-1 i {
    font-size: 3rem;
}

.bb-2-2 {
    font-size: 1.8rem;
    color: var(--blue);
    margin-top: 20%;
}

.bb-2-3 {
    margin-top: 15%;
    color: grey;
}

.bb-3 {
    width: 18%;
    height: 250px;
    box-shadow: 0px 0px 10px 5px rgb(216, 212, 212);
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    padding: 50px;

}

.bb-3-1 i {
    font-size: 3rem;
}

.bb-3-2 {
    font-size: 1.8rem;
    color: var(--blue);
    margin-top: 20%;
}

.bb-3-3 {
    margin-top: 15%;
    color: grey;
}

.three {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 90px;
}

.three img {
    width: 40%;
    margin-left: -5%;
    height: 40%;
}

.cc {
    width: 45%;
    /* height: 100px; */
    /* background-color: blue; */

    float: right;
}

.cc h1 {
    font-size: 4rem;
}

.cc h4 {
    font-size: 3rem;
}



.cc-1 {
    color: var(--orange);
    font-size: 3rem;
}

.cc-2 {
    margin-top: 5%;
    font-size: 3rem;
    color: var(--blue);

}

.cc-3 {
    font-size: 1.8rem;
    color: grey;
    margin-top: 8%;
}

.cc-3 p {
    font-size: 1.8rem;
    color: grey;
    margin-top: 8%;
}

.cc-4 {
    margin-top: 5%;
}

.cc-4 i {
    font-size: 3rem;

}

.right {
    color: var(--blue);
}

.left {
    color: grey;
    margin-right: 25px;
}

.four {
    width: 100%;
    position: relative;
}

.dd {
    width: 100%;
    height: 100px;
    /* display: flex; */
    position: relative;

    /* border-color: blanchedalmond; */


}

.dd-1 {
    margin-top: 10%;
    font-size: 3rem;
    color: var(--blue);

}

.dd-1 h1 {
    font-size: 4rem;
}

.dd-4 i {
    font-size: 3rem;

}

.dd-4 {
    position: absolute;
    bottom: 0;
    right: 0;

}

.flexbox-container {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}

.child {
    height: 200px;
    width: 200px;
    margin: 10px;
    background-color: #aeabab;

}

.child img {
    width: 100%;
    height: 100%;
}

.dd-text {
    margin-top: 30px;
    color: var(--orange);
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

.ee {
    position: relative;
}

.ee-1 {
    margin-top: 10%;
    color: var(--orange);
    font-size: 2rem;
    font-weight: bolder;
}

.ee-2 {
    margin-top: 20px;
    font-size: 3rem;
    color: var(--blue);

}

.ee-3 i {
    font-size: 3rem;

}

.ee-3 {
    margin-top: 40px;
    float: right;

}

.ee-4 {
    margin-top: 7%;
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    gap:10px;
}
.ee-4>div {
    height: 230px;
    width: 200px;
    /* background-color: #aeabab; */
    justify-content: space-around;
    padding: 50px;

}

.ee-4-1 {
    background-color: var(--orange);
    color: white;
}

.ee-4-1-1 {
    font-size: 1.8rem;
    margin-top: 5%;
}

.ee-4-1-2 {
    margin-top: 8%;

}

.ee-4-1-3 {
    margin-top: 12%;
    font-size: 1.8rem;
}

.ee-4-1-4 {
    margin-top: 10%;
    float: right;
    font-size: 3rem;
}

.righttt {
    /* background-color: bisque; */
    color: white;
}

.ee-4-2 {
    /* border: 2px solid grey; */
    box-shadow: 0px 0px 10px 5px rgb(216, 212, 212);
}

.ee-4-2-1 {
    font-size: 1.8rem;
    margin-top: 5%;
    color: var(--blue);
}

.ee-4-2-2 {
    margin-top: 8%;
    color: grey;

}

.ee-4-2-3 {
    margin-top: 12%;
    font-size: 1.8rem;
    color: var(--blue);
}

.ee-4-2-4 {
    margin-top: 10%;
    float: right;
    font-size: 3rem;
}

.righ {
    color: var(--orange);
}

.ee-4-3 {
    box-shadow: 0px 0px 10px 5px rgb(216, 212, 212);
}

.bg-shape {
    position: absolute;
    right: -37%;
    z-index: -1;
    top: -10%;
}

.five {
    width: 100%;
}

.ff-1 {
    margin-top: 15%;
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}

.ff-2 {
    margin-top: 20px;
    font-size: 3rem;
    color: var(--blue);

}

.ff-3 {
    width: 100%;
    margin-top: 5%;

}

.fff-3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.fff-3 input {

    width: 40%;
    height: 40px;

    background-color: rgb(200, 203, 204);
    border: 1px solid rgb(200, 203, 204);
    /* font-size: larger; */


}


input[type="text"]::-webkit-input-placeholder {
    color: var(--blue);
    font-size: 1rem;
    font-weight: bolder;
}

.ff-3-3 input {
    width: 100%;
    height: 150px;
    margin-top: 4%;
    background-color: rgb(200, 203, 204);
    border: 1px solid rgb(200, 203, 204);
    text-align: start;

}

.ff-4 {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.ff-4 button {
    font-size: 2rem;
    margin-top: 5%;
    height: 35px;
    width: 200px;
    color: white;
    padding: 2px;
    background-color: var(--orange);
    border: 1px solid var(--orange);
    border-radius: 20px;
    align-items: center;

}

footer {
    width: 100%;
}

.footer {
    width: 100%;

}


.gg {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: var(--blue);
    margin-top: 5%;


}

.gg-1 {
    color: white;
}

.gg-2 {
    margin-top: 15px;
    color: var(--orange);
    font-size: 2.5rem;
}

.gg-3 {
    margin-top: 30px;
    z-index: 123;
}

.gg-3-ham {
    display: none;
}

.gg-3 a {
    text-decoration: none;
    color: white;
    margin: 20px;
}

.gg-3 a:hover {
    cursor: pointer;
    color: white;

}

.gg-4 {
    margin-top: 40px;
    color: white;
}

.gg-5 {
    margin-top: 30px;
    color: white;
}

.gg-5 i {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 3.5rem;


}


@media only screen and (max-width: 1000px) {
    * {
        font-size: 7px;
    }

    .picture {
        display: none;
    }

}

@media only screen and (max-width: 700px) {
#home{
    background-color:#ffbca1;
}

    .aa {
        width: 70%;
    }
    .bb-1-2 button {
        margin-top: 0;
        /* margin-left: 35px; */
    }
.first{
    padding-top: 50px;
    padding-bottom:50px;
    margin-top: 5%;
}
    .bb-1-2 {
        display: flex;
        /* justify-content: center; */
    }

    .bb-1-1 {
        display: flex;
        /* justify-content: center; */
    }

    .bb-1 {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .bb{
        margin-top: 15%;
    }
    .ee-1{
        margin-left: 14vw;
        font-size: 3rem;
    }
    .ee-2 h1{
        margin-left: 14vw;
        font-size: 2rem;
    }
    .ee-3{
        margin-right: 20px;
    }
    .ee-4{
        justify-content: center;
        gap:40px;
        flex-wrap: wrap;
    }
    .ee-4>div{
        height:auto;
    }
    .ee-4-2-1 h2,.ee-4-1-1 h2{
        font-size: 2rem;
    }
    .ee-4-2-2,.ee-4-1-2{
        font-size: 1.5rem;
    }
    .bb-2{
        width:50%;
        height:auto;
    }
    .bb-2-3{
        font-size: 2rem;
    }
    .bb-3-3{
        font-size: 2rem;
    }
    .bb-3-2 h2{
        font-size: 2.1rem;
    }
    .bb-2-2 h2{
        font-size: 2.1rem;
    }
    .bb-2-1 i{
        font-size: 4rem;
    }
    .bb-3-1 i{
        font-size: 4rem;
    }
    .bb-3{
        width:50%;
        height:auto;
    }
    .first {
        justify-content: center;
    }
    .three{
        justify-content: center;
    }
    .cc{
        width:70%;
    }
    .dd-1 h1{
        margin-left: 14vw;
    }
    .flexbox-container{
        margin-top: 2%;
    }
    .child{
        width:25vw;
        height:20vh;
    }
    .four{
        margin-top: 30px;
    }
    .dd-4{
        right:20px;
    }
    .ff-3{
            display: flex;
            flex-direction: column;
            align-items: center;
        
    }
    .fff-3{
        width:70%;
    }
    .ff-3-3{
        width:70%;
    }
    .ff-2 h1{
        font-size: 3rem;
        text-align: center;
    }
    .ff-1{
        text-align: center;
        font-size: 3.5rem;
    }
    .ff-3-3 input{
        height:40px;
    }
    .ff-4 button{
        width:120px;
        height: 27px;
    }
    .gg-1{
        font-size: 3.5rem;
    }
    .gg-2 h1{
        font-size: 2.9rem;
    }
    .fff-3 input{
        height:20px;
    }
    .logo {
        left: 5vw;
    }

    .bb {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .links {
        display: none;
    }

    .nav {
        justify-content: flex-end;
    }

    * {
        font-size: 7px;
    }

    .picture {
        display: none;
    }

    .gg-3 {
        display: none;
        background-color: red;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* height: 1080px; */
        background-color: fff;
        margin-left: 0;
        margin-right: 0;
        flex-wrap: wrap;
        /* background-image: url(./12_col_grid.png);
        width: 1100px;
        height: 4400px;
        z-index: -1; */
    }

    .gg-3-ham {
        color: red;
        display: flex;
    }
    .gg-4{
        font-size: 2.5rem;
    }
}